Source: lxd-scripts
Section: unknown
Priority: extra
Maintainer: Timotheus Pokorra <timotheus.pokorra@solidcharity.com>
Standards-Version: 3.9.2
Homepage: http://www.solidcharity.com

Package: lxd-scripts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lxd, lxd-client, lxc-utils, cgroup-lite, python3-lxc, bsdmainutils, cron, patch, debootstrap
Description: Scripts for creating LXD containers that are used by LightBuildServer to build packages for various Linux distributions
