[Unit]
Description=LBS with unicorn
After=mariadb.service

[Service]
User=lbs
Group=lbs
WorkingDirectory=/usr/share/lightbuildserver/web
ExecStart=/usr/local/bin/gunicorn --workers 4 --threads 4 --bind unix:/run/lbs/lightbuildserver.socket --timeout 1200 --worker-class gevent lbs:app

RuntimeDirectory=lbs
KillSignal=SIGINT
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
