Source: docker-scripts
Section: unknown
Priority: extra
Maintainer: Timotheus Pokorra <timotheus.pokorra@solidcharity.com>
Standards-Version: 3.9.2
Homepage: http://www.solidcharity.com

Package: docker-scripts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Scripts for creating Docker containers that are used by LightBuildServer to build packages for various Linux distributions
